<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "car-rental-banner.jpg" %>);">
  <div class="container">
    <h1>
      <span data-controller="typed-js"></span>
    </h1>
    <%= render 'shared/searchbar'%>
  </div>
</div>
<div class="container container-btn">
<% if @cars.length.zero? %>
  <h2> No car yet to rent.. </h2>
  <%= link_to 'Add your car', new_car_path, class: 'btn btn-flat' %>
<% else %>
  <h2> <%= pluralize(@cars.length, 'car') %> waiting to be rented </h2>
  <%= link_to 'See them all', cars_path, class: 'btn btn-flat' %>
<% end %>
</div>

<%= render 'cars/cards', limit: 3 %>
