<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "car-rental-banner.jpg" %>);">
  <div class="container">
    <h1>
      <span data-controller="typed-js"></span>
    </h1>
    <%= simple_form_for :search, url: cars_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required search_brand" type="text" name="search[brand]" id="search_brand" placeholder="Brand" />
        <input class="form-control string required search_model" type="text" name="search[model]" id="search_model" placeholder="Model"/>
        <input class="form-control string required search_city" type="text" name="search[city]" id="search_city" placeholder="City" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="container container-btn">
<h2> <%= @cars.length %> cars waiting to be rented </h2>
<%= link_to 'See them all', cars_path, class: 'btn btn-flat' %>
</div>

<%= render 'cars/cards', limit: 3 %>
