<%= simple_form_for(@car) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="thumb">
    <p> Actual photo </p>
    <% if @car.photo.attached? %>
    <%= image_tag @car.photo, class: "thumbnail" %>
    <% else %>
    <%= image_tag "voiture_default.jpg", class: "thumbnail" %>
    <% end %>
    </div>
    <%= f.file_field :photo %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :year_of_production, collection: 1986..2022 %>
    <%= f.input :address %>
    <%= f.input :price_per_day, type: 'number' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
